<!DOCTYPE html>
<html>
<head>
  <title>WorkInStartup</title>

  <meta name="google-site-verification" content="Tfx7Le-rWknB3fpc8D6sPO6mQcMGIEWqs8pAWNQ78vo" />

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="WorkInStartup" name="title">
  <meta content="WorkInStartup - место, где стартапы и таланты находят друг друга." name="description">
  <meta content="work, работа, стартап, startup" name="keywords">

  <link href="http://workinstartup.ru/" rel="canonical">

  <%= favicon_link_tag %>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/3ccc081c6a.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  </div>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <i class="fa fa-rocket fa-3x" aria-hidden="true"></i>
            <span class="projectname">Work In Startup</span>
            <div class="slogan">Место, где стартапы и таланты находят друг друга</div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Все вакансии</a></li>
            <li><a href="#"><i class="fa fa-fire" aria-hidden="true"></i>Станьте ярче</a></li>
            <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Войти</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="yield">
      <%= yield %>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav navbar-nav">
              <h4>Work In Startup в Facebook<h4>
              <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fworkinstartup%2F&width=300&layout=standard&colorscheme=dark&action=like&show_faces=true&share=true&height=80&appId=887534511392508" width="300" height="80" style="border:none;overflow:hidden;color:white" scrolling="no" frameborder="0" allowTransparency="true">
              </iframe>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Следуй за нами</h4>
            <ul class="social">
              <li>
                <a href="https://vk.com/workinstartup" target="_blank">
                  <i class="fa fa-vk fa-fw" aria-hidden="true"></i>
                  Вконтакте
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/workinstartup/" target="_blank">
                  <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                  Facebook
                </a>
              </li>
              <li>
                <a href="https://twitter.com/workinstartup" target="_blank">
                  <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCbaiTH_ZRpHiJZVUagBx6sw" target="_blank">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                  YouTube
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>О нас</h4>
            <ul>
              <li>
                <a href="#" target="_blank">
                  О проекте
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  Команда
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="tel:+79645132972">
              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
              +7-964-513-29-72
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="mailto:roman@workinstartup.ru">
              <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
              roman@workinstartup.ru
            </a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <i class="fa fa-copyright fa-fw" aria-hidden="true"></i>
            2016 Roman Krasavtsev
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <a href="https://flic.kr/p/rsLKND" target="_blank">
              <i class="fa fa-flickr fa-fw" aria-hidden="true"></i>
              Flickr / <i class="fa fa-copyright fa-fw" aria-hidden="true"></i> manhhai
            </a>
          </div>
        </div>
      </div>
    </div>
    </nav>

  </div>
</body>
</html>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37920630 = new Ya.Metrika({ id:37920630, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37920630" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
